.quantity-btn {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	font-family: var(--font1);
	font-size: 20px;
	border: 1px solid var(--lightBlue1);
	font-weight: 100;
}

.quantity-btn:active {
	background: var(--lightBlue1);
}
