@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
	--darkBlue1: #17355e;
	--darkBlue2: #203e62;
	--darkBlue3: #2e4a6f;
	--darkBlue4: #365071;
	--lightBlue1: #97abc4;
	--lightBlue2: #a4b5cc;
	--lightBlue3: #b1c0d2;
	--lightBlue4: #becada;
	--offWhite: #e7f8ff;
	--font1: "Oswald", sans-serif;
	--font2: "Roboto Condensed", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

h1 {
	font-family: var(--font1) !important;
}

p,
h2,
h3,
h4,
h5 {
	font-family: var(--font2) !important;
}

.text-header {
	font-family: var(--font1) !important;
	font-weight: 900;
}

.text-subheader {
	font-family: var(--font2) !important;
	font-weight: 600;
}

.text-content {
	font-family: var(--font2) !important;
	font-weight: 200;
}

.text-prime {
	color: var(--darkBlue1);
}

.nav-link {
	transition: all 0.3s;
	margin: 0 0.2rem;
}

.nav-link:hover {
	background-color: var(--darkBlue2);
	transform: scale(1.1);
}

.custom-btn-1 {
	background: none !important;
	outline: var(--offWhite) !important;
	border-color: var(--offWhite) !important;
	color: var(--offWhite) !important;
	font-family: var(--font1) !important;
}

.custom-btn-1:hover {
	background: var(--offWhite) !important;
	outline: var(--offWhite) !important;
	border-color: var(--offWhite) !important;
	color: var(--darkBlue1) !important;
}

.custom-btn-2,
.custom-btn-3,
.custom-btn-4 {
	background: var(--darkBlue1) !important;
	outline: var(--darkBlue1) !important;
	border-color: var(--darkBlue1) !important;
	color: var(--offWhite) !important;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.1rem;
	font-family: var(--font1) !important;
	text-decoration: underline;
}

.custom-btn-2:hover,
.custom-btn-3:hover,
.custom-btn-4:hover {
	background: var(--darkBlue4) !important;
	outline: var(--darkBlue2) !important;
	border-color: var(--darkBlue2) !important;
}

.custom-btn-3 {
	background: var(--lightBlue3) !important;
	color: var(--darkBlue1) !important;
	border: none !important;
}

.custom-btn-3:hover {
	background: var(--lightBlue4) !important;
}

.custom-shade-bg-1 {
	background-color: var(--lightBlue4) !important;
	border: 1px solid var(--lightBlue4) !important;
}

.card-img {
	border-radius: 0 !important;
}
